{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <h2
          class="form-status form-status-list form__message form-success-title"
          tabindex="-1"
          autofocus
        >
          {% render 'icon-success' %}
          お問い合わせありがとうございました。<br>担当より折り返しご連絡いたします。
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2
            class="form-status caption-large text-body form-error-title"
            role="alert"
            tabindex="-1"
            autofocus
          >
            {% render 'icon-error' %}
            必須項目をご記入ください。
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link form-error-text">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <table>
        <tr>
          <th>お名前</th>
          <td>
            <input type="text" name="contact[お名前]" id="form_name" placeholder="例）山田　太郎">
          </td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>
            <input
              autocomplete="email"
              type="email"
              name="contact[email]"
              id="form_mail"
              placeholder="例）info@sample.com"
            >
          </td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>
            <input type="tel" name="contact[電話番号]" id="form_tel" placeholder="例）0123-4567-8910">
          </td>
        </tr>

        <tr>
          <th>お問い合わせ内容</th>
          <td>
            <textarea
              name="contact[お問い合わせ内容]"
              id="form-textarea"
              cols="30"
              rows="15"
              placeholder="500字まで"
              maxlength="500"
            ></textarea>
          </td>
        </tr>
      </table>
      <p><a href="/pages/privacy">プライバシーポリシー</a>をご確認の上、「送信」ボタンをクリックしてください。</p>
      <button class="btn_02" type="submit"><span>送信する</span></button>
    {%- endform -%}
  </div>
</div>
